<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnection" connectionString="Server=localhost;Database=millprocess;User ID=root;Password=12341234;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ApiBaseUrl" value="https://api.example.com/"/>
	</appSettings>
</configuration>